<h3>  Reading list from favorites</h3>

<div>
  <%= @list.each do |book|%>
    <p> Title: <%= book.title %></p>
    <p> Author: <%= book.author %></p>
    <p> Genre: <%= book.genre %></p>
    <br>
  <% end %>  %>
</div>
