<h2> messages</h2>

<div class="row">

  <% @messages.each do |message|%>

  <div class="col-sm-4">
    <div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
      <div class="overlay-container">



        <div class="overlay-to-top">
          <!-- <p class="small margin-clear"><em> <br> </em></p> -->
        </div>
      </div>
      <div class="body">
        <h3><%= message.title %></h3>
        <h4><%= message.content %></h4>

        <div class="separator"></div>
        <p>

        </p>
        <a href="/chatrooms/<%= message.id %>" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Join the chat!<i class="fa fa-arrow-right pl-10"></i></a>

      </div>
    </div>
  </div>

  <% end %>
</div>
