<div class="banner dark-translucent-bg" style="background-image:url(''); background-position:50% 32%;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center col-md-offset-2 pv-20">
        <h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Wellcome to <strong>Shop</strong></h2>
        <div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
        <p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum, exercitationem accusamus, possimus soluta illo deserunt tempora qui.</p>
      </div>
    </div>
  </div>
</div>

<!-- Tab panes -->
<div class="tab-content clear-style">
  <div class="tab-pane active" id="pill-1">
    <div class="listing-item mb-20">
      <div class="row grid-space-0">
        <div class="col-sm-6 col-md-8 col-lg-9">
            <% @favorites.each do |book|%>
          <div class="body">
            <div class="overlay-container">
              <img src="<%= book.image.link %>">
            </div>

              <h3 class="margin-clear"> <%= book.title %></h3>

                <p> Author: <%= book.author %></p>
                <p> Genre: <%= book.genre %></p>

              <p>
                <i class="fa fa-star text-default"></i>
                <i class="fa fa-star text-default"></i>
                <i class="fa fa-star text-default"></i>
                <i class="fa fa-star text-default"></i>
                <i class="fa fa-star"></i>

              </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore modi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, cum repellat nisi quaerat mollitia reiciendis totam repellendus dicta id dolorem voluptate debitis molestias molestiae asperiores, odit magni vitae placeat optio.</p>

          </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
