<div ng-app="app">
  <div ng-controller="favoritechatroomCtrl" ng-init="setup()" class="row">
    
   <button ng-click="filterOn = !filterOn" class="btn btn-animated btn-default btn-sm pull-right">Toggle
     <i class="fa fa-heart-o"></i></button>
    <ul class="list-unstyled">
      <div ng-repeat="chatroom in chatrooms | returnFavorites:filterOn" class="col-md-6 framework-well">
          <div class="col-md-12 well">
            <h3> <a ng-href="/chatrooms/{{ chatroom.id }}">{{ chatroom.topic }}</a></h3>
              <div ng-if="chatroom.favoriteChatroom" class="alert alert-success favorite-alert" role="alert">{{chatroom.favoriteChatroom}}</div>
              <h5>By: {{ chatroom.by }}</h5>
              <i ng-click="favorite(chatroom)" ng-class="{'fa-heart': chatroom.favorite, 'fa-heart-o': !chatroom.favorite}" class="fa fa-lg pull-right heart" aria-hidden="true"></i>
          </div>
        </div>
      </ul>
  </div>
</div>
