<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>BookChatter | Home</title>
		<meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template">
		<meta name="author" content="htmlcoder.me">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
  	<!-- body classes:  -->
  	<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
  	<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
  	<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
  	<!-- "gradient-background-header": applies gradient background to header -->
  	<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
  	<body class="no-trans ">

  		<!-- scrollToTop -->
  		<!-- ================ -->
  		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

  		<!-- page wrapper start -->
  		<!-- ================ -->
  		<div class="page-wrapper">

  			<!-- header-container start -->
  			<div id="header" class="header-container">
  				<!-- header start -->
  				<!-- classes:  -->
  				<!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
  				<!-- "dark": dark version of header e.g. class="header dark clearfix" -->
  				<!-- "full-width": mandatory class for the full-width menu layout -->
  				<!-- "centered": mandatory class for the centered logo layout -->
  				<!-- ================ -->
  				<header class="header pv-20  clearfix">
  					<div class="container">
  						<div class="row">
  							<div class="col-sm-4">
  								<!-- header-left start -->
  								<!-- ================ -->
  								<div class="header-left clearfix">
                    <!-- logo -->
                    <div id="logo" class="logo">
                      <h2> <a href="/welcome">Bookchatter</h2>
                    </div>

  								</div>

  								<!-- header-left end -->
  							</div>

									<div class="col-xs-9 col-sm-6 col-md-3">

										<!-- header-top-second start -->
										<!-- ================ -->
										<div id="header-top-second"  class="clearfix">

											<!-- header top dropdowns start -->
											<!-- ================ -->
											<div class="header-top-dropdown text-right">
												<div class="btn-group">
													<a href="/users/sign_in" class="btn btn-default btn-sm"><i class="fa fa-user pr-10"></i> Sign in</a>
												</div>
											</div>
											<!--  header top dropdowns end -->
										</div>
										<!-- header-top-second end -->
									</div>

  							</div>
  						</div>
  					</div>
  				</header>
  				<!-- header end -->
  			</div>
  			<!-- header-container end -->

  			<!-- banner start -->
  			<!-- ================ -->
  			<div id="banner" class="banner dark-translucent-bg padding-bottom-clear" style="background-image:url('');">
  				<!-- section start -->
  				<!-- ================ -->
  				<div class="container">
  					<div class="row">
  						<div class="col-md-8 text-center col-md-offset-2 space-bottom">
  							<div class="title large_white">BookChatter</div>
  							<div class="separator"></div>
  							<p class="text-center lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit!</p>
  						</div>
  					</div>
  					<div class="row mb-20">
  						<div class="col-md-4">
  							<div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">

  							</div>
  						</div>
  						<div class="col-md-4">
  							<div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">

  							</div>
  						</div>
  						<div class="col-md-4">
  							<div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">

  							</div>
  						</div>
  					</div>
  				</div>
  				<!-- section end -->
  				<!-- section start -->
  				<!-- ================ -->
  				<div class="pv-40 dark-translucent-bg">
  					<div class="container">
  						<div class="row">
  							<div class="col-md-12">
  								<div class="call-to-action text-center">
  									<div class="form-inline margin-clear">
  										<!-- <div class="form-group has-feedback">
  											<label class="sr-only" for="subscribe3">Email address</label>
  											<input type="email" class="form-control form-control-lg" id="subscribe3" placeholder="Enter email" name="subscribe3" required="">
  											<i class="fa fa-envelope form-control-feedback"></i> -->
  										</div>

											<%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-lg btn-gray-transparent btn-animated margin-clear'  %>

  									</div>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  				<!-- section end -->
  			</div>
  			<!-- banner end -->

  			<!-- section start -->
  			<!-- ================ -->
  			<div class="pv-40 light-gray-bg">
  				<div class="owl-carousel content-slider">

  					<div class="container">

  				</div>
  				<div class="container">

  			</div>
  			<!-- section end -->

  			<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
  			<!-- ================ -->
  			<footer id="footer" class="clearfix ">

  				<!-- .footer start -->
  				<!-- ================ -->
  				<div class="footer">
  					<div class="container">
  						<div class="footer-inner">
  							<div class="row">
  								<div class="col-md-6 col-md-offset-3">
  									<div class="footer-content text-center padding-ver-clear">

  										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus illo vel dolorum soluta consectetur doloribus sit. Delectus non tenetur odit dicta vitae debitis suscipit doloribus. Lorem ipsum dolor sit amet, illo vel dolorum soluta consectetur.</p>
  										<div class="separator"></div>
  										<p class="text-center margin-clear">Copyright © 2016 BookChatter by <a target="_blank" href="">Ana Minaya</a>. All Rights Reserved</p>
  									</div>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  				<!-- .footer end -->

  			</footer>
  			<!-- footer end -->

  		</div>
  		<!-- page-wrapper end -->

  	</body>
  </html>




</html>
