

  <div class="row col-md-8 col-md-offset-2">
    <h1>Create a Chatroom on based on a book</h1>
    <div class="well">
      <div class="chatroom-form">
        <%= form_tag("/chatrooms", method: 'post') do %>
        <div class="input-group">
          <span class="input-group-addon">Topic:</span>
            <%= label_tag(:topic, "Book Title:") %>
            <%= text_field_tag :topic, nil, class: "form-control"%>
          </div>
          <%= submit_tag "Save", class: "btn btn-primary", id: "create-chatroom" %>
        <% end %>
      </div>
    </div>

    <ul class="list-unstyled">
      <div ng-repeat="chatroom in chatrooms" class="col-md-6 framework-well">
      <div class="col-md-12 well">
        <h3 ng-href="{{ chatroom.topic }}">{{ chatroom.topic }}</h3>
              <div ng-if="chatroom.favoriteChatroom" class="alert alert-success favorite-alert" role="alert">{{chatroom.favoriteChatroom}}</div>
              <h5>By: {{ chatroom.user.email }}</h5>
              <i ng-click="favorite(chatroom)" ng-class="{'fa-heart': chatroom.favorite, 'fa-heart-o': !chatroom.favorite}" class="fa fa-lg pull-right heart" aria-hidden="true"></i>
            </div>
          </div>
    </ul>
  </div>
